$section-background-color: #fff; //white

$nav-background-color: 	#000; // black
$navbar-text-color: #fff; //white

$jumbotron-background-color: #d9d9d9; //aluminum

$forms-background-color: #fff; // white

$main-background-color: #d9d9d9; //aluminum


$board-border-color: #fff; // white
$board-background-color: #d9d9d9; //aluminum
$board-text-color: #fff; //white

$aside-border-color: #00f; //blue
$aside-background-color: #f19f4d; // tangerine

$footer-background-color: #4484ce; // cerulean
$footer-text-color: #fff; //white

$test-color: #f00; //red

$olive: #808000; // olive
$wheat: #ffe7ba; // wheat
$tangerine: #f19f4d; // tangerine
$light: #f9cf00; //light
$summerskyblue: #286da8; //summer sky blue
$cerulean: #4484ce; // cerulean
$feather: #77cd94; // feather
$lightblue: #5bc0de; // light blue
$taninacan: #be9268; // coffee color
$black: #000; //black
