$page-background-color: #ffe7ba; // wheat

$board-border-color: #808080; //gray
$board-background-color: #000; //black
$board-text-color: #fff; //white

$aside-border-color: #00f; //blue
$aside-background-color: #808080; //gray

$test-color: #f00; //red
