body {
  background-color: $page-background-color;
}

h1 {
  text-align: center;
}

.gameboard {
  border: 1px solid $test-color;
  height: 200px;
  margin: 80px auto;
  width: 80%;
}

.box {
  background-color: $board-background-color;
  border: 1px solid $board-border-color;
  color: $board-text-color;
  height: 180px;
  max-width: 225px;
  padding: 75px;
  text-align: center;
}

footer {
  clear: both;
  text-align: center;
}
